.hero {
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
    /* border: 2px solid red; */
}
.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2 {
    color: black;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p {
    color: purple;
    font-size: 100px;
    font-weight: 700;

}
.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;

}
.hero-hand-icon img {
    width: 105px;
}
.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff3232;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-latest-btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 12px 12px; */
}

.hero-right img {
    height: 600px;
    width: 550px;
} 

@media (max-width: 1280px) {
    .hero-left {
        padding-left: 100px;
    }
    .hero-left h2 {
        font-size: 22px;
    } 
    .hero-left p {
        font-size: 60px;
    }
    .hero-hand-icon img {
        width: 80px;
    }
    .hero-latest-btn {
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-right img {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .hero-left {
        padding-left: 80px;
    }
    .hero-left h2 {
        font-size: 20px;
    } 
    .hero-left p {
        font-size: 50px;
    }
    .hero-hand-icon img {
        width: 65px;
    }
    .hero-latest-btn {
        height: 50px;
        width: 220px;
        font-size: 16px;
    }
    .hero-right img {
        width: 400px;
    }
}

@media (max-width: 800px) {
    .hero-left {
        padding-left: 30px;
    }
    .hero-left h2 {
        font-size: 16px;
    } 
    .hero-left p {
        font-size: 45px;
    }
    .hero-hand-icon img {
        width: 50px;
    }
    .hero-latest-btn {
        height: 40px;
        width: 175px;
        font-size: 13px;
    }
    .hero-right img {
        width: 320px;
    }
}
@media (max-width: 500px) {
    .hero {
        flex-direction: column;
        margin-top: 10px;
        height: 70vh;
    }
    .hero-right{
        display: none;
    }
    .hero-right h2{
        font-size: 18px;
    }
    .hero-right p{
        font-size: 50px;
    }
    .hero-hand-icon img {
        width: 55px;
    }
    .hero-latest-btn {
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
}